* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

a:hover {
  text-decoration: none;
}

/*----------------- main container------------------------ */
#pageContainer {
  background: #fafafa;
  width: 100%;
  height: 100%;
}

/*------------------ header-Section------------------------ */
#mastHeadContainer {
  width: 100%;
  height: 56px;
  padding: 7px 16px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: #fff;
  z-index: 1;
  border: 1px solid #e8e8e8;
}

#mastHeadContainer button:not(.searchButton),
#mastHeadContainer .rightIcons img {
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
  background: transparent;
  padding: 8px;
}

#mastHeadContainer .rightIcons {
  height: 100%;
}

#mastHeadContainer button img {
  width: 100%;
}

#mastHeadContainer .logoContainer {
  width: 150px;
}

#mastHeadContainer .logoContainer img {
  height: 25px;
  margin-left: 10px;
}

/* searchBar */
.searchBarContainer {
  flex: 1;
  margin: 0 40px;
  display: flex;
}

.searchBarContainer form {
  flex: 1;
  display: flex;
}

.searchBarContainer form input {
  flex: 1;
  max-width: 600px;
  padding: 2px 12px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #ccc;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  height: 32px;
}

.searchBarContainer .searchButton {
  width: 65px;
  height: 32px;
  background-color: #f8f8f8;
  border: 1px solid #d3d3d3;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  cursor: pointer;
}

#mastHeadContainer .searchBarContainer .searchButton img {
  height: 20px;
  width: 20px;
}

/*----------------------- Side navBar---------------------- */
#sideNavContainer {
  width: 240px;
  padding-top: 56px;
  background: #f5f5f5;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
}

/* -------------------Main section------------------------  */
#mainSectionContainer {
  padding-top: 56px;
  display: flex;
}

#mainContentContainer {
  padding: 10px 30px;
  flex: 1;
  display: flex;
  background-color: #fafafa;
  box-sizing: border-box;
}

#mainSectionContainer.leftPadding {
  padding-left: 246px;
}

/* Upload content ---> column */

.column {
  flex-grow: 1;
  background-color: #ffff;
  padding: 20px;
  min-height: 300px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 16px;
  display: flex;
  flex-direction: column;
}

/* form section */
form {
  flex: 1;
}

/* SignIN page */

.signInContainer {
  background-color: #efefee;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signInContainer .header img {
  width: 100px;
}

.signInContainer .column {
  flex-grow: 0;
  flex-direction: column;
  padding: 20px 40px;
  width: 450px;
  max-height: 100%;
  overflow-y: auto;
}

.signInContainer .column .header {
  padding: 20px 0px;
}

.signInContainer .column h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 0;
  padding-top: 16px;
  line-height: 34px;
}

.signInContainer .column .header span {
  font-size: 14px;
}

.signInContainer .column form {
  display: flex;
  flex-direction: column;
}

.signInContainer .column form input[type="text"],
.signInContainer .column form input[type="email"],
.signInContainer .column form input[type="password"] {
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #dedede;
  padding: 10px 0;
  outline: none;
}

.signInContainer .column form input[type="text"]:hover,
.signInContainer .column form input[type="email"]:hover,
.signInContainer .column form input[type="password"]:hover {
  background-color: #dedede1a;
}

.signInContainer .column form input[type="submit"] {
  height: 40px;
  width: 100px;
  font-weight: 500;
  margin: 15px 0;
}

.signInContainer .column .loginMessage {
  font-weight: 400;
  font-size: 12px;
}

.errorMessage {
  color: rgb(247, 0, 0);
  font-weight: 400;
  font-size: 13px;
  text-align: center;
}

.watchLeftColumn {
  flex: 1;
}

.watchLeftColumn .videoPlayer {
  width: 100%;
}

.suggestions {
  max-width: 425px;
  flex-grow: 1;
  margin-left: 19px;
  padding-left: 10px;
  height: 100%;
  background-color: #dededeee;
}

.videoInfo {
  width: 100%;
  padding: 20px 0 10px 0;
}

.videoInfo h1 {
  overflow: hidden;
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
}

.videoInfo .bottomSection {
  display: flex;
}

.videoInfo .bottomSection .viewCount {
  color: rgba(17, 17, 17, 0.6);
  font-weight: 400;
  flex: 1;
}

.videoInfo .bottomSection .controls {
  flex: 1;
  text-align: right;
}

.videoInfo .bottomSection .controls button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: rgba(17, 17, 17, 0.4);
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
  outline: none;
}

.videoInfo .bottomSection .controls button img {
  height: 20px;
  width: 20px;
  margin: 4px 8px 8px 8px;
}

.secondaryInfo .topRow {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.profilePicture {
  width: 100%;
}

.secondaryInfo .topRow .profilePicture {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.secondaryInfo .topRow .uploadInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.subscribeButtonContainer,
.editVideoButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribeButtonContainer .subscribe {
  background-color: #f00;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  border: none;
  padding: 8px;
  outline: none;
}

.editVideoButtonContainer .edit {
  background-color: rgb(66, 145, 235);
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  border: none;
  padding: 8px;
  outline: none;
}

.subscribeButtonContainer .unsubscribe {
  background-color: #eee;
  color: rgba(17, 17, 17, 0.6);
  font-weight: 500;
  font-size: 16px;
  border: none;
  padding: 10px;
  outline: none;
}

.descriptionContainer {
  margin-left: 64px;
  margin-top: 10px;
  padding-bottom: 20px;
}

.secondaryInfo {
  padding-top: 15px;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}

.secondaryInfo .owner a {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

/* comment section */
.commentSection .header {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.commentSection .header .commentCount {
  margin-bottom: 20px;
}

.commentSection .header .commentForm,
.commentSection .itemContainer .commentForm {
  display: flex;
}

.commentSection .header .commentForm .profilePicture,
.commentSection .comment .profilePicture,
.commentSection .commentForm .profilePicture {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 15px;
}

.commentSection .header .commentForm .commentBodyClass,
.commentSection .itemContainer .commentForm textarea {
  flex: 1;
  margin-right: 15px;
  resize: none;
  border: 1px solid #dedede;
  font-size: 13px;
  padding: 10px 0px 0px 10px;

}

.commentSection .itemContainer .commentForm textarea {
  height: 35px;
  padding: 5px 0px 5px 5px;
}

.commentSection .header .commentForm .postComment,
.commentSection .itemContainer .postComment,
.commentSection .itemContainer .cancelComment {
  font-size: 14px;
  border: none;
  border-radius: 3px;
  background-color: #065fd4;
  color: #ffffffc2;
  padding: 0px 10px;
}

.commentSection .itemContainer .postComment,
.commentSection .itemContainer .cancelComment {
  height: 25px;
  margin: 4px;
}

.commentSection .itemContainer .cancelComment {
  background-color: transparent;
  color: rgba(17, 17, 17, 0.6);
}

.commentSection .itemContainer .cancelComment:hover {
  color: #000;
}

.commentSection .header .commentForm .postComment:hover,
.commentSection .itemContainer .postComment:hover {
  background-color: #0e468f;
  color: #ffffff;
}

.itemContainer .comment {
  display: flex;
  margin: 25px 0px 10px 0px;
}

.comment .username {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  margin-right: 10px;
}

.comment .body {
  font-size: 14px;
  font-weight: 300;
}

.itemContainer .controls {
  margin-left: 64px;
}

.itemContainer .controls button,
.itemContainer .controls .likesCount {
  height: 32px;
  border: none;
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
  color: rgba(17, 17, 17, 0.9);
  margin-right: 5px;
}

.itemContainer .controls button {
  cursor: pointer;
}

.itemContainer .controls button img {
  height: 16px;
}

.itemContainer .commentForm .profilePicture {
  width: 30px;
  height: 30px;
}

.commentSection .comment .timestamp {
  color: #888;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.hidden {
  display: none !important;
}

.comments .repliesSection {
  padding-left: 64px;
  margin-top: 16px;
}

.commentSection .itemContainer .viewReplies {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.videoGrid {
  display: flex;
  flex-wrap: wrap;
}

.suggestions .videoGridItem {
  display: flex;
  height: auto;
}

.videoGridItem {
  height: 200px;
  margin-right: 4px;
  margin-bottom: 24px;
}

.videoGridItem .thumbnail {
  width: 210px;
  height: 118px;
  position: relative;
}

.suggestions .videoGridItem .thumbnail {
  margin-right: 8px;
}

.videoGridItem .thumbnail img {
  width: 100%;
  height: 100%;
}

.videoGridItem .thumbnail .duration {
  bottom: 0;
  right: 0;
  position: absolute;
  margin: 4px;
  color: #fff;
  background-color: rgba(17, 17, 17, 0.8);
  opacity: 0.8;
  padding: 2px 4px;
  border-radius: 2px;
  letter-spacing: 0.5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.videoGridItem .details {
  padding-right: 24px;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 210px;

}

.suggestions .videoGridItem .details {
  padding-right: 0;
  flex: 1;
}

.videoGridItem .details .title {
  margin: 8px 0;
  max-height: 32px;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #212529;
}

.videoGridItem .details .username,
.videoGridItem .details .stats {
  color: rgba(17, 17, 17, 0.6);
  font-size: 13px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.videoGridHeader {
  display: flex;
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.videoGridHeader div {
  flex: 1;
}


.videoGrid.large {
  flex-direction: column;
  flex: 1;
}

.videoGrid.large .videoGridItem {
  height: auto;
  display: flex;
}

.videoGrid.large .videoGridItem .thumbnail {
  width: 266px;
  height: 138px;
  margin-right: 16px;
}

.videoGrid.large .videoGridItem .details {
  max-width: 600px;
  flex: 1;
}

.videoGrid.large .videoGridItem .details .title {
  font-size: 18px;
  line-height: 24px;
}

.videoGridItem .details .description {
  color: rgba(17, 17, 17, 0.6);
  font-size: 13px;
  font-weight: 500;
}

.largeVideoGridContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.videoGridHeader .right {
  text-align: right;
}

.videoGridHeader a {
  color: rgba(17, 17, 17, 0.6);
}

.videoGridHeader a:after {
  content: ' |'
}

.videoGridHeader a:last-child:after {
  content: ''
}


#sideNavContainer .navigationItems {
  overflow-y: auto;
}

#sideNavContainer .navigationItem {
  height: 40px;
  display: flex;
}

#sideNavContainer .navigationItem img {
  height: 18px;
  margin-right: 27px;
}

#sideNavContainer .navigationItem span {
  flex: 1;
  color: #111;
  font-size: 14px;
}

#sideNavContainer .navigationItem a {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

#sideNavContainer .navigationItem a:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

#sideNavContainer .heading {
  color: rgba(17, 17, 17, 0.6);
  font-size: 14px;
  font-weight: 500;
  padding: 10px 24px 0;
  border-top: 1px solid #ededed;
  display: block;
}


.profileContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.coverPhotoContainer {
  height: 200px;
  flex: 1;
  position: relative;
}

.coverPhotoContainer .coverPhoto {
  width: 100%;
  object-fit: cover;
  max-height: 100%;
  vertical-align: middle;
}

.coverPhotoContainer .channelName {
  position: absolute;
  color: rgb(206, 80, 80);
  position: absolute;
  top: 50px;
  left: 0;
  top: calc(50% - 40px);
  font-size: 50px;
  font-family: fantasy;
  text-align: center;
  width: 100%;
  letter-spacing: 5px;
}


.profileHeader {
  padding: 15px 100px 0 100px;
  display: flex;
  height: 100px;
}

.userInfoContainer {
  flex: 1;
  display: flex;
}

.profileHeader .userInfoContainer .profileImage {
  height: 80px;
  width: 80px;
}

.profileHeader .userInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileHeader .userInfo .title {
  font-size: 24px;
  font-weight: 400;
  color: #111;
}

.profileHeader .userInfo .subscriberCount {
  font-size: 14px;
  color: rgba(17,17,17,0.6);
}


.profileHeader .buttonContainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.profileHeader .buttonContainer .buttonItem {
  align-items: center;
  display: flex;
}

.profileHeader .buttonContainer .buttonItem button {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.profileContainer .channelContent {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
}

.nav-item a {
  color: rgba(17,17,17,0.6);
}

.channelContent .section .values {
  color: rgba(17,17,17,0.6);
  display: flex;
  flex-direction: column;
}

.formSection:not(:last-child) {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dedede
}

.settingsContainer form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}